@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo-image {
   text-decoration: none !important;
}

.navbar {
   height: 55px;
   -webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}

.border-bg {
   font-family: 'Inter', sans-serif;
   background-color: white;
   border-radius: 15px;
   color: #2D3436 !important;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
}

.border-text {
   font-family: 'Inter', sans-serif;
   color: white !important;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
}

.main {
   position:relative;
   width: 400px;
   min-height: 100px;
   margin: auto;
   padding-top:15px;
}
 
.main:before {
   content:'';
   position: absolute;
   width: 125px;
   height: 25px;
   margin: auto;
   z-index: -1;
   background-color: #FDCB6E;
   border-radius: 10px;
   left:260px;
   top:75px;
}

.bg-diff {
   position:relative;
   width: 500px;
   min-height: 100px;
   margin: auto;
   padding-top:15px;
}
 
.bg-diff:before {
   content:'';
   position: absolute;
   width: 145px;
   height: 25px;
   margin: auto;
   z-index: -1;
   background-color: #FDCB6E;
   border-radius: 10px;
   left:265px;
   top:35px;
}

h1 {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 46px;
   line-height: 104px;
   color: #2D3436;
}

.page-prev, .page-suiv {
   width: 2% !important;
   height: 20vh;
   border-radius: 15px;
   padding-right: 2.5%;
}

.box-brown {
   background-color: #9B5400;
   height: 340px;
   border-radius: 30px;
   line-height: 340px;
   -webkit-box-shadow: -8px 8px 0px -2px rgba(75,40,0,1);
   -moz-box-shadow: -8px 8px 0px -2px rgba(75,40,0,1);
   box-shadow: -8px 8px 0px -2px rgba(75,40,0,1);
}

.box-light-blue {
   background-color: #158BBD;
   height: 364px;
   border-radius: 30px; 
   line-height: 364px;
   -webkit-box-shadow: -8px 8px 0px -2px rgba(0,58,112,1);
   -moz-box-shadow: -8px 8px 0px -2px rgba(0,58,112,1);
   box-shadow: -8px 8px 0px -2px rgba(0,58,112,1);
}

.box-grey {
   background-color: #6D88A1;
   height: 172px;
   border-radius: 30px;
   width: 65%;
   line-height: 172px;
   -webkit-box-shadow: -8px 8px 0px -2px rgba(72,88,103,1);
   -moz-box-shadow: -8px 8px 0px -2px rgba(72,88,103,1);
   box-shadow: -8px 8px 0px -2px rgba(72,88,103,1);
}

.box-dark-blue {
   background-color: #026F9D;
   height: 138px;
   border-radius: 30px;
   width: 80%; 
   line-height: 138px;
   -webkit-box-shadow: -8px 8px 0px -2px rgba(3,44,83,1);
   -moz-box-shadow: -8px 8px 0px -2px rgba(3,44,83,1);
   box-shadow: -8px 8px 0px -2px rgba(3,44,83,1);
}

.box-green {
   background-color: #0DB95C;
   height: 130px;
   border-radius: 30px;
   line-height: 130px;
   -webkit-box-shadow: -8px 8px 0px -2px rgba(10,112,58,1);
   -moz-box-shadow: -8px 8px 0px -2px rgba(10,112,58,1);
   box-shadow: -8px 8px 0px -2px rgba(10,112,58,1);
}

.text-center-div {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 42px; 
   color: #FFFFFF;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   letter-spacing: -1px;
}

.text-center-create {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 48px;
}

#difficulty {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: bold;
}